######################################
# IBM PAIRS API wrapper Travis build #
######################################
# Copyright 2019 Physical Analytics, IBM Research, IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# programming language used
language: python
python:
    - '2.7'
    - '3.6'

# Ubuntu docker container base to use
dist: xenial

# Git branches Travis uses to trigger
branches:
  only:
    # stable release branch
    - master
    # main development branch
    - develop

# environment installs
install:
# get required Python modules for IBM PAIRS open source tools
- pip install -r requirements.txt
# install Python modules required for testing
- pip install -r requirements-development.txt
# get documentation generation tool
- pip install sphinx sphinx_rtd_theme

before_script:
# code linting for
# - Python syntax error
# - undefined names
- flake8 ibmpairs --select=E9,F63,F72,F82 --count --show-source --statistics

script:
# code testing (with code coverage checking)
- pytest -vv --cov-report=term --cov=ibmpairs/ --capture=no
# testing documentation generation
- cd docs && make html
# testing code coverage report generation
- cd .. && coverage html

# publish code coverage to GitHub
after_success:
- codecov
