# files to include in Python package other than code
include CONTRIBUTING.md
include README.md
include LICENSE
include MAINTAINERS.md
include requirements.txt
include requirements-development.txt
recursive-exclude tests *
recursive-exclude examples *
recursive-exclude tutorials *
