aiohttp>=3.0.0
coloredlogs
fs
future
geojson
geopandas
ibm_cos_sdk
ibm_cos_sdk_core
jsonschema
numpy>=1.18.1
osgeo
pandas>=1.0.1
Pillow>=10.2.0
polling
python_dateutil
pytz
rasterio
Requests>=2.4
Shapely
tableschema
